<!DOCTYPE html>
<html>
<head>
	<title>Poker Game</title>
	{% load bootstrap5 %}
	{% bootstrap_css %}
	{% bootstrap_javascript %}
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-8">
        <div class="card shadow-sm">
          <div class="row">
            <div class="col-2">
                    <form action="" method="post">
						{% csrf_token %}
						{% if show_opponent_cards %}
							<button class="btn btn-sm btn-outline-secondary" type="submit" name="action" value="show_cards">Hide</button>
						{% else %}
							<button class="btn btn-sm btn-outline-secondary" type="submit" name="action" value="show_cards">Show</button>
						{% endif %}
					</form>
            </div>
            <div class="col-2"></div>
            {% for link in opponent_cards %}
                {% load static %}
                <div class="col-2" > <img style="width:50%; height:100%;" class="img-thumbnail" src="{% static link %}" class="rounded-end"></div>
              {% endfor %}
            <div class="col-2"></div>
          </div>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <form action="" method="post">
                  {% csrf_token %}
                  {% if player_turn %}
                      <button style="margin-top:50px; margin-right:20px " disabled type="submit" name="action" value="nip">Agent Action</button>
                  {% else %}
                      <button style="margin-top:50px; margin-right:20px " type="submit" name="action" value="nip">Agent Action</button>
                  {% endif %}
		        </form>
                <div class="row">
                  <div class="col">
                    <small class="text-muted">stack size: {{opponent_stack}}</small>
                  </div>
                  <div class="col">
                    <small class="text-muted">position: {{ opponent_position }}</small>
                  </div>
                  <div class="col">
                    <small class="text-muted">current bet: {{opponent_bet}}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col">
        {{winner}}
      </div>
    </div>
    <div class="row" >
      <div class="col">
        pot size: {{pot_size}}
      </div>
      <div class="col-6">
        <div class="row">
          {% for link in community_cards %}
                  {% load static %}
                  <div class="col" style=" margin-left:1px;margin-right:1px;padding-left:1px;padding-right:1px;">
                    <img style="max-width:100%; max-height:80%; margin-top:10px;" src="{% static link %}" class="card-img-top">
                  </div>
          {% endfor %}
        </div>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col-8">
        <div class="card shadow-sm">
          <div class="row">
            <div class="col"></div>
              {% for link in player_cards %}
                {% load static %}
                <div class="col"> <img style="width:50%; height:100%;" class="img-thumbnail" src="{% static link %}" class="rounded-end"></div>
              {% endfor %}
            <div class="col"></div>
          </div>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <form action="" method="post">
                  {% csrf_token %}
                  {% if player_turn %}
                  <div class="btn-group">
                    <button type="submit" name="action" class="btn btn-sm btn-outline-secondary" value="Fold">Fold</button>
                    <button type="submit" name="action" class="btn btn-sm btn-outline-secondary" value="Check">Check</button>
                    <button type="submit" name="action" class="btn btn-sm btn-outline-secondary" value="Call">Call</button>
                    <button type="submit" name="action" class="btn btn-sm btn-outline-secondary" value="Min_Raise">Small Raise</button>
                    <button type="submit" name="action" class="btn btn-sm btn-outline-secondary" value="Big_Raise">Big Raise</button>
                  </div>
                  {% else %}
                  <div class="btn-group">
                    <button disabled type="submit" name="action" class="btn btn-sm btn-outline-secondary" value="Fold">Fold</button>
                    <button disabled type="submit" name="action" class="btn btn-sm btn-outline-secondary" value="Check">Check</button>
                    <button disabled type="submit" name="action" class="btn btn-sm btn-outline-secondary" value="Call">Call</button>
                    <button disabled type="submit" name="action" class="btn btn-sm btn-outline-secondary" value="Min_Raise">Small Raise</button>
                    <button disabled type="submit" name="action" class="btn btn-sm btn-outline-secondary" value="Big_Raise">Big Raise</button>
                  </div>
                  {% endif %}
                </form>
                <div class="row">
                  <div class="col">
                    <small class="text-muted">stack size: {{player_stack}}</small>
                  </div>
                  <div class="col">
                    <small class="text-muted">position: {{player_position}}</small>
                  </div>
                  <div class="col">
                    <small class="text-muted">current bet: {{player_bet}}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>

	{% block content %}
  	{% endblock %}
</body>
</html>
